SPRING_PROFILE=prod
DB_NAME=seven_eleven_prod
DB_USER=postgres_prod
DB_PASSWORD=your_strong_password
DB_PORT=5432
REDIS_PORT=6379
REDIS_PASSWORD=change_me
JWT_SECRET=your_secure_jwt_secret_should_be_at_least_32_characters_long
